SQLBasicUwp/Connected Services/SampleServiceReference/SampleTableService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleDatabaseService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleDatabaseService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfSampleTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleTable" nillable="true" type="tns:SampleTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleTable" nillable="true" type="tns:ArrayOfSampleTable" />
  <xs:complexType name="SampleTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleTable" nillable="true" type="tns:SampleTable" />
</xs:schema>